<!--<app-main-page></app-main-page>-->
<!--<app-register-form></app-register-form>-->
<!--<app-manage-language></app-manage-language>-->
<!DOCTYPE html>
<html>

<head>
  <title>Title of the document</title>
  <!--
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>

<body>

  <div>
    <main>


         <app-main-header>
        </app-main-header>
                

        <!--

        <div class="container-fluid">
          <div class="row justify-content-around py-5">
            <div class="col-md-3">
              <img src="https://dupia.net/uploads/default/slider1.png" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
              <h1 style="font-size: 40px;">Lorem ipsum dolor sit amet.</h1>
              <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur deserunt
                corporis corrupti, totam
                adipisci, culpa labore, optio beatae excepturi nesciunt porro dolores eum aut quis voluptates dignissimos sed
                ratione. Illum.</p>
            </div>
          </div>
        </div>




        <section class="banner">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <h1 class="my-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight md:text-left slide-in-bottom-h1">
                            DUPIA<br><span>sanal bir<br>gezegen</span></h1>
                        <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in btn-content">
                            <a href="https://dupia.net/register" class="btn btn-outline-primary py-2 px-3 mr-3 rounded">Hemen katıl</a>
                            <a href="https://dupia.net/login" class="btn btn-outline-dark py-2 px-3 rounded">Giriş yap</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/mainPage/slider1.png" width="100%">
                    </div>

                </div>
            </div>
        </section>-->

        


        <section class="slider" style=" background: #f5f5f5;">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-12">
                        <h1 class="my-4 text-center slide-in-bottom-h1">
                            <span>İNSANLAR</span><br>bir araya geldiğinde<br><span>NELER YAPABİLİRLER?</span>
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/mainPage/slider2.png" width="100%">
                    </div>
                    <div class="col-md-6">
                        <!-- <p>Toplumun temel yapı taşı BİREY' dir.</p>
                        <ul>
                            <li>Medeniyet / Sanat ve kültür</li>
                            <li>Devlet / Hak ve özgürlükler</li>
                            <li>Bilim / Keşif ve İlerleme</li>
                            <li>Teknoloji / Eğlence, iş, başarı, yaratım, para vb.</li>
                        </ul>
                        <p>Bu kısımda hem toplumun hem bireyin edinimleri günümüzün sosyal medya mecraları
                            sayesinde çoğaltılabilir.</p>-->

                        <p class="text-center">5000 yıl öncesinde 4000 kişinin bir araya gelerek yaptığı şey
                            Piramitler iken günümüzde 2 milyar insan bir araya geldiğinde, networking
                            temelli sosyal ağ platformları günden güne büyüyerek inşa ediliyor.
                        </p>


                    </div>
                </div>
            </div>
        </section>








        <section class="slider">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-12">
                        <h1 class="my-4 text-center slide-in-bottom-h1">
                            Sosyal Networkler<br>
                            nasıl
                            <span>büyüyor?</span>
                        </h1>
                        <p class="text-center">Bireylerin bir araya gelip büyüme ve gelişimine katkı
                            sağladıkları(Networking iş modeli temelli şirketler)<br>bu sosyal medya mecralarının
                            kullanıcı sayısı<br>ve yıllık ciroları;
                        </p>
                    </div>


                    <div class="col-md-4 col-6">
                        <div class="icon-content">
                            <i class="fab fa-facebook-square"></i>
                            <p>2,7 milyar<br><span>kullanıcı</span></p>
                        </div>
                    </div>


                    <div class="col-md-4  col-6">
                        <div class="icon-content">
                            <i class="fab fa-twitter"></i>
                            <p>330 milyon<br><span>kullanıcı</span></p>
                        </div>
                    </div>


                    <div class="col-md-4  col-6">
                        <div class="icon-content">
                            <i class="fab fa-instagram"></i>
                            <p>120 milyon<br><span>kullanıcı</span></p>
                        </div>
                    </div>


                    <div class="col-md-4  col-6">
                        <div class="icon-content">
                            <i class="fab fa-youtube"></i>
                            <p>2 milyar<br><span>kullanıcı</span></p>
                        </div>
                    </div>


                    <div class="col-md-4  col-6">
                        <div class="icon-content">
                            <i class="fab fa-linkedin"></i>
                            <p>690 milyon<br><span>kullanıcı</span></p>
                        </div>
                    </div>


                    <div class="col-md-4  col-6">
                        <div class="icon-content">
                            <i class="fab fa-pinterest"></i>
                            <p>250 milyon<br><span>kullanıcı</span></p>
                        </div>
                    </div>


                </div>
            </div>
        </section>




        <section class="slider" style=" background: #f5f5f5;">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-12">
                        <h1 class="my-4 text-center slide-in-bottom-h1">

                            Sosyal Network<br>bizden
                            <span>neler alıyor?</span>
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <p>Peki sosyal networkler bizden neler alıyor?</p>

                        <ul>
                            <li>İçerik alıyor.
                                <ul>
                                    <li>yazılı</li>
                                    <li>görsel</li>
                                    <li>video</li>
                                </ul>
                            </li>
                            <li>Kişisel bilgilerimizi alıyor.</li>
                            <li>Konum, cinsiyet gibi daha özel bilgilerimizi alıyor.</li>
                            <li>Hobilerimizden okuduğumuz kitaplardan seyrettiğimiz filmlerden Davranış ve
                                alışkanlıklarımızı öğreniyor.</li>
                        </ul>

                        <p>&nbsp;</p>

                        <ul>
                            <li>Yazı resim ve video içeriği üretmek, mecrayı yeni yaratım ve fikirlerle
                                beslemek.</li>
                            <li>Konum ve kişisel bilgiler vermek, mecranın bize rahat ve kolayca erişimini sağlamak.
                            </li>
                            <li>Zaman ve para ayırmak, mecranın devamlı büyüyüp gelişmesine
                                ömrümüzden saatler, günler, yıllar verip, belli başlı
                                ayrıcalıkları için de para ödemek.</li>
                        </ul>

                        <p>&nbsp;</p>



                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/mainPage/slider3.png" width="100%">
                    </div>

                    <div class="col-md-12">
                        <h1 class="my-4 text-right slide-in-bottom-h1">

                            Sosyal Networkler<br>bizden
                            <span>zamanımızı alıyor</span>
                        </h1>
                    </div>

                </div>
            </div>
        </section>



        <section class="slider">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="my-4 text-center slide-in-bottom-h1">
                            <span>DUPIA'nın</span><br>farkı nedir?
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <div class="text-content">
                            <div class="number">1</div>
                            <h1 class="my-4 text-right slide-in-bottom-h1 subtitle">

                                Dupia<br>Sosyal network’te<br>
                                bulunan kullanıcılara<br> çok <span>daha fazla<br>
                                    erişim</span> sağlar.</h1>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="text-content">
                            <div class="number">2</div>

                            <h1 class="my-4 text-right slide-in-bottom-h1 subtitle">
                                Dupia kullanıcısı<br>sistemde oluşan<br>kazançtan<br>
                                <span>pay</span> alır.
                            </h1>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="text-content">

                            <div class="number">3</div>
                            <h1 class="my-4 text-right slide-in-bottom-h1 subtitle">

                                Dupia<br><span>Dijital
                                    Demokrasi</span><br>
                                ile yönetilir.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="banner" style=" background: #f5f5f5;">
            <div class="container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-8">
                        <h1 class="my-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight md:text-left slide-in-bottom-h1">
                            DUPIA;<br>yönetimde<br>herkese adil<br><span>söz hakkı</span><br>veriyor</h1>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/mainPage/slider4.png" width="100%">
                    </div>

                </div>
            </div>
        </section>

    </main>

    <footer class="mt-auto text-dark-50 py-5 text-center text-css">
        <p>© DUPIA 2021</p>
    </footer>
</div>































<!--




  <app-main-header>
  </app-main-header>
  
  <app-horizontal-line>
  </app-horizontal-line>

  <div class="container-fluid">
    <div class="row justify-content-around py-5">
      <div class="col-md-3">
        <h1 style="font-size: 40px;">Lorem ipsum dolor sit amet.</h1>
        <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur deserunt
          corporis corrupti, totam
          adipisci, culpa labore, optio beatae excepturi nesciunt porro dolores eum aut quis voluptates dignissimos sed
          ratione. Illum.</p>
      </div>
      <div class="col-md-3">
        <img src="https://dupia.net/uploads/default/slider1.png" alt="..." class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-around py-5">
      <div class="col-md-3">
        <img src="https://dupia.net/uploads/default/slider1.png" alt="..." class="img-fluid">
      </div>
      <div class="col-md-3">
        <h1 style="font-size: 40px;">Lorem ipsum dolor sit amet.</h1>
        <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur deserunt
          corporis corrupti, totam
          adipisci, culpa labore, optio beatae excepturi nesciunt porro dolores eum aut quis voluptates dignissimos sed
          ratione. Illum.</p>
      </div>
    </div>
  </div>

  <app-horizontal-line>
  </app-horizontal-line>
  
  <div class="container-fluid" style="background: url(https://images.pexels.com/photos/13633612/pexels-photo-13633612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);background-size: cover;height: 950px;">
    <div class="row justify-content-center">
      <div class="col-md-5 text-center">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ipsum.</h1>
      </div>
    </div>
  </div>


</body>


-->

<!-- Footer 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
</html>

-->



