<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="XuWsJvc1sMjeWtnGHz7WGEcT8z3MRLaj1b2Pzppa">

    <title>DUPIA</title>


    <link rel="manifest" href="manifest.webmanifest">
    <link rel="icon" sizes="16x16 32x32 48x48" href="uploads/default/logo.png">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="https://dupia.net/css/app.css">

    <!-- Scripts -->
    <script src="/js/app.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body class="font-sans antialiased bg-white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 col-xl-2 mt-5 bg-white py-5">
                <div class="auth-logo mx-5 py-5 d-flex justify-content-center text-center">
                    <a href="/"><img src="https://dupia.net/uploads/default/logo.png" width="175px"></a>
                </div>
                <div class="auth-buttons py-5">
                    
                    <div class="my-4">
                        <form method="POST" action="https://dupia.net/login">
                            <input type="hidden" name="_token" value="XuWsJvc1sMjeWtnGHz7WGEcT8z3MRLaj1b2Pzppa">                            <div class="form-group">
                                <label for="email" class="text-md-right">E-posta adresi</label>
                                <input id="email" type="email" class="form-control " name="email" value="" required="" autocomplete="email" autofocus="">

                            </div>
                            <div class="form-group">
                                <label for="password" class="text-md-right">Şifre</label>
                                <input id="password" type="password" class="form-control " name="password" required="" autocomplete="current-password">

                            </div>

                            <div class="form-group mb-0">
                                <button type="submit" (click)="login()" class="btn btn-outline-dark btn-xs">
                                    GİRİŞ YAP
                                </button>

                                <button (click)="forgotPassword()" type="submit" class="btn btn-link btn-xs">
                                    Şifremi unuttum
                                </button>

                                <!--<a class="btn btn-link" href="https://dupia.net/forgot-password">
                                    Şifremi unuttum
                                </a>-->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="auth-notice pt-5 text-center">
                    <p class="m-0">Henüz kaydını oluşturmadıysan</p>
                    <a href="https://dupia.net/register">Kayıt ol</a>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</html>