<div class="container-fluid my_nav">
    <div class="row">
        <mat-toolbar style="color:#5243c4; background-color: #a7bac6; margin-top: 0% ; height: 10px;">
            <div class="col-md-11" style="display:flex;justify-content: end;">
            </div>
        </mat-toolbar>
    </div>

    <div class="row">
        
        <mat-toolbar style="color:#5243c4; background-color: #cdd5db; height: 10px;">
            <div class="col-md-1" style="display: flex;justify-content: space-around;">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon></mat-icon>
                </button>
                
            </div>
            <div class="col-md-10" style="display:flex;justify-content: end;">
                <section>
                    
                  </section>
            </div>
        </mat-toolbar>
    </div>

    <div class="row">
        <mat-toolbar style="color:#5243c4; background-color: #e5e2e2; margin-top: 0% ;height: 10px;">
            <div class="col-md-11" style="display:flex;justify-content: end;">
                
            </div>
        </mat-toolbar>
    </div>

</div>