<body> 
    <!--<p #bodyTag autofocus>timeline-page works!</p>-->
    <app-my-profile-page class="ghost"></app-my-profile-page>
    <app-related-user class="ghost"></app-related-user>
    <app-my-profile-page class="ghost"></app-my-profile-page>
    <app-receive-post-panel class="ghost"></app-receive-post-panel>
    <!--<p>{{email}}</p>-->

    <app-logged-in-header></app-logged-in-header>


    <app-friend-chat-list></app-friend-chat-list>

    <app-chat></app-chat>
    <!---->
    <!--
    <app-document-list></app-document-list>
    
    
    <app-document></app-document>
    -->
    
    <!--
    <app-related-users-list></app-related-users-list>
    -->
    </body>